/.classpath
/.project
/bin/
/.idea/
.gradle/5.4.1/executionHistory/executionHistory.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileChanges/last-build.bin
.gradle/5.4.1/fileContent/fileContent.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/5.4.1/fileHashes/resourceHashesCache.bin
.gradle/5.4.1/gc.properties
.gradle/5.4.1/javaCompile/classAnalysis.bin
.gradle/5.4.1/javaCompile/jarAnalysis.bin
.gradle/5.4.1/javaCompile/javaCompile.lock
.gradle/5.4.1/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
build.gradle
core/assets/badlogic.jpg
core/assets/font-big-export.fnt
core/assets/font-export.fnt
core/assets/glassy-ui.atlas
core/assets/glassy-ui.json
core/assets/glassy-ui.png
core/assets/txt.png
core/build/libs/core-1.0.jar
core/build/tmp/jar/MANIFEST.MF
desktop/build/resources/main/badlogic.jpg
desktop/build/resources/main/font-big-export.fnt
desktop/build/resources/main/font-export.fnt
desktop/build/resources/main/glassy-ui.atlas
desktop/build/resources/main/glassy-ui.json
desktop/build/resources/main/glassy-ui.png
desktop/build/resources/main/txt.png
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
core/build/classes/java/main/com/mygdx/game/ArrayFunction2d.class
core/build/classes/java/main/com/mygdx/game/Atom.class
core/build/classes/java/main/com/mygdx/game/AtomFunction2d.class
core/build/classes/java/main/com/mygdx/game/Ball.class
core/build/classes/java/main/com/mygdx/game/ConstantAtom.class
core/build/classes/java/main/com/mygdx/game/CosAtom.class
core/build/classes/java/main/com/mygdx/game/CrazyPutting.class
core/build/classes/java/main/com/mygdx/game/Function2d$1.class
core/build/classes/java/main/com/mygdx/game/FunctionalFunction2d.class
core/build/classes/java/main/com/mygdx/game/Function2d.class
core/build/classes/java/main/com/mygdx/game/FunctionAtom.class
core/build/classes/java/main/com/mygdx/game/FunctionParser.class
core/build/classes/java/main/com/mygdx/game/GameInfo.class
core/build/classes/java/main/com/mygdx/game/GameScreen.class
core/build/classes/java/main/com/mygdx/game/GameSelectScreen$1.class
core/build/classes/java/main/com/mygdx/game/GameSelectScreen$2.class
core/build/classes/java/main/com/mygdx/game/GameSelectScreen$3.class
core/build/classes/java/main/com/mygdx/game/GameSelectScreen.class
core/build/classes/java/main/com/mygdx/game/IndefiniteAtom.class
core/build/classes/java/main/com/mygdx/game/IO_course_module.class
core/build/classes/java/main/com/mygdx/game/Main.class
core/build/classes/java/main/com/mygdx/game/MainMenuScreen$2.class
core/build/classes/java/main/com/mygdx/game/MainMenuScreen$1.class
core/build/classes/java/main/com/mygdx/game/MainMenuScreen.class
core/build/classes/java/main/com/mygdx/game/MapGenUtils$1.class
core/build/classes/java/main/com/mygdx/game/MapGenUtils$2.class
core/build/classes/java/main/com/mygdx/game/MapGenUtils$FractalGenerationSettings.class
core/build/classes/java/main/com/mygdx/game/MapGenUtils$3.class
core/build/classes/java/main/com/mygdx/game/MapGenUtils.class
core/build/classes/java/main/com/mygdx/game/Material.class
core/build/classes/java/main/com/mygdx/game/MaterialType.class
core/build/classes/java/main/com/mygdx/game/Menu.class
core/build/classes/java/main/com/mygdx/game/PhysicsEngine.class
core/build/classes/java/main/com/mygdx/game/PlayerScreen$1.class
core/build/classes/java/main/com/mygdx/game/Player.class
core/build/classes/java/main/com/mygdx/game/PlayerScreen$2.class
core/build/classes/java/main/com/mygdx/game/PlayerScreen.class
core/build/classes/java/main/com/mygdx/game/PowerAtom.class
core/build/classes/java/main/com/mygdx/game/ProductAtom.class
core/build/classes/java/main/com/mygdx/game/PuttingCourse.class
core/build/classes/java/main/com/mygdx/game/PuttingCourseGenerator.class
core/build/classes/java/main/com/mygdx/game/PuttingCoursePhysics.class
core/build/classes/java/main/com/mygdx/game/Range.class
core/build/classes/java/main/com/mygdx/game/SettingsScreen$1.class
core/build/classes/java/main/com/mygdx/game/SettingsScreen$2.class
core/build/classes/java/main/com/mygdx/game/SettingsScreen$3.class
core/build/classes/java/main/com/mygdx/game/SettingsScreen.class
core/build/classes/java/main/com/mygdx/game/SinAtom.class
core/build/classes/java/main/com/mygdx/game/SumAtom.class
core/build/classes/java/main/com/mygdx/game/TopDownPhysicsObject.class
core/build/classes/java/main/com/mygdx/game/VariableAtom.class
core/build/classes/java/main/com/mygdx/game/Variables.class
core/build/classes/java/main/com/mygdx/game/Vector2d.class
core/build/classes/java/main/com/mygdx/game/Vector3d.class
desktop/build/classes/java/main/com/mygdx/game/desktop/DesktopLauncher.class
