
.gradle/5.4.1/executionHistory/executionHistory.bin
*.bin
.gradle/5.4.1/executionHistory/executionHistory.lock
.gradle/5.4.1/fileHashes/fileHashes.bin
.gradle/5.4.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/gradle.xml
.idea/misc.xml
.idea/modules/Never-Going-Golfing-Again.main.iml
.idea/modules/Never-Going-Golfing-Again.test.iml
.idea/vcs.xml
.idea/jarRepositories.xml
core/.gradle/
desktop/.gradle/
*.class
*.lock
.idea/modules.xml
.idea/modules/Never-Going-Golfing-Again.iml
core/build/libs/core-1.0.jar
.gradle/5.4.1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/vcs-1/gc.properties
.idea/$PRODUCT_WORKSPACE_FILE$
.idea/compiler.xml
.idea/golfing.iml
.idea/libraries/Gradle__com_badlogicgames_box2dlights_box2dlights_1_4.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_backend_headless_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_backend_lwjgl_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_box2d_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_box2d_platform_natives_desktop_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_bullet_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_bullet_platform_natives_desktop_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_freetype_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_freetype_platform_natives_desktop_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_platform_natives_desktop_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_gdx_gdx_tools_1_9_10.xml
.idea/libraries/Gradle__com_badlogicgames_jlayer_jlayer_1_0_1_gdx.xml
.idea/libraries/Gradle__net_java_jinput_jinput_2_0_5.xml
.idea/libraries/Gradle__net_java_jinput_jinput_platform_natives_linux_2_0_5.xml
.idea/libraries/Gradle__net_java_jinput_jinput_platform_natives_osx_2_0_5.xml
.idea/libraries/Gradle__net_java_jinput_jinput_platform_natives_windows_2_0_5.xml
.idea/libraries/Gradle__net_java_jutils_jutils_1_0_0.xml
.idea/libraries/Gradle__org_jcraft_jorbis_0_0_17.xml
.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_2_9_3.xml
.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_platform_natives_linux_2_9_3.xml
.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_platform_natives_osx_2_9_3.xml
.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_platform_natives_windows_2_9_3.xml
.idea/libraries/Gradle__org_lwjgl_lwjgl_lwjgl_util_2_9_3.xml
.idea/modules/core/golfing.core.iml
.idea/modules/core/golfing.core.main.iml
.idea/modules/core/golfing.core.test.iml
.idea/modules/desktop/golfing.desktop.iml
.idea/modules/desktop/golfing.desktop.main.iml
.idea/modules/desktop/golfing.desktop.test.iml
.idea/modules/golfing.iml
build.gradle
core/build/tmp/jar/MANIFEST.MF
desktop/build/resources/main/badlogic.jpg
desktop/build/resources/main/font-big-export.fnt
desktop/build/resources/main/font-export.fnt
desktop/build/resources/main/glassy-ui.atlas
desktop/build/resources/main/glassy-ui.json
desktop/build/resources/main/glassy-ui.png
desktop/build/resources/main/txt.png
gradle.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
.idea/
bin/
